{{ define "base"}}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>TODO</title>
</head>
<body>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>TASK</td>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                    <tr>
                        <td>{{ .Id }}</td>
                        <td>{{ .Task }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
</html>
{{ end }}
