{{ define "index"}}
<div>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>TASK</td>
                <td>EDIT</td>
                <td>DELETE</td>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Task }}</td>
                    <td><a href="/edit?id={{ .Id }}">Edit</a></td>
                    <td><a href="/delete?id={{ .Id }}">Delete</a></td>
                </tr>
            {{ end }}
            </tbody>
    </table>
</div>
{{ end }}
